
  
  /* header */
header {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* places the order of the text */
.hero-top :nth-child(1) { order: 2; }
.hero-top :nth-child(2) { order: 1; }
.hero-top :nth-child(3) { order: 3; }
.hero-top :nth-child(4) { order: 4; }
    

header h1 {
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 20px;
}

header h1 br {
    display: none;
}

header .pre-title a{
    font-weight: 700;
    font-size: 22px;
    color: var(--color-primary);
    text-align: center;
    margin-top: 85px;
    margin-bottom: 20px;
    display: flex;
    margin: auto;
    margin-top: 80px;
    
}

header .pre-title a:hover {
    color: var(--color-primary-offset);
}

header .hero-content {
    margin-bottom: 20px;
}


header .view { 
    width: 160px;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: var(--color-bg-offset);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
    z-index: 2;
}

header .view:hover {
    background-color: var(--color-primary);
    color: #ffff;
}

header .code-des h2 {
    font-size: 37px;
    font-weight: 600;
    text-align: center;
}

header .code-des p{
    margin-bottom: 20px;
    text-align: center;
    max-width: 370px;
    font-size: 20px;
}

header img {
    width: 100vw;
    margin: -20px;
    margin-top: 20px;
}

.spline {
   display: none;
 }

 
 /* responsiveness from 768px and 1024px */


@media (min-width:768px) {
    header .pre-title {
        font-size: 24px;
    }

    header h1 br {
        display: block;
    }

    header h1 {
        font-size: 46px;
    }
    
    .code-des {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    header img {
        display: flex;
        margin: auto;
        width: 80%;
    }

}

@media (min-width:1024px) {
    header h2 {
      font-size: 24px;
      max-width: 430px;  
      display: flex;
      text-align: center;
      justify-content: center;
    }
    header h1 {
        font-size: 60px;
    }

    header img, .hero-content{
        display: none;
    }

    
    .spline {
        width: 500px;
        height: 500px;
        display: flex;
        margin-top: -150px;
        flex-direction: column;
    }

    iframe {
    display: block;
    width: 100%;
    height: 100%;
   
}
    .spline p {
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 600;
}

    
}
/* end header */

/* section one */

.section-one {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
}

.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-box {
    width: 83px;
    height: 83px;
    background-color: var(--color-secondary);
    border-radius: 9px;

}

path {
   color: var(--color-bg);
}

.icon {
    font-size: 54px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2px;
}


.section-one h3 {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
  
}

.underline-blue {
    width: 163px;
    height: 10px;
    background-color: var(--color-text-offset);
}

.underline-blue-two {
    width: 115px;
    height: 10px;
    background-color: var(--color-text-offset);
}

.underline-blue-three {
    width: 110px;
    height: 10px;
    background-color: var(--color-text-offset);
}

.section-one-top {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
    gap: 16px;
    justify-content: center;
}

.section-one-right {
    display: flex;
    flex-direction: column;
}

.section-one p{
    margin: 0 20px 0 20px;
}

.section-one .p-tabed {
    margin: 8px 20px 8px 30px;
    border-color: var(--color-text);        
    border-left: 2px solid;
    padding-left: 15px;
}

.section-one .p-tag{
    margin: 0 20px 0 20px;
}

.paragraph {
    width: 375px;
}

@media (min-width:768px) {
    .section-one {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
   .bg-box {
    width: 75px;
    height: 75px;
   }
   .section-one h3 {
    font-size: 24px;
   }
   
}

@media (min-width:1024px) {
    .section-one {
        width: 100%;
        gap: 10px;
    }
    .paragraph {
        width: 320px;
    }
}

/* section one end */

/* section two */

#section-two {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}

#section-two h2 {
  font-family: "DM Serif Display", serif;
    font-size: 37px;
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    width: 335px;
    height: 379px;
    position: relative;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-image: url(https://res.cloudinary.com/ddqar8r8f/image/upload/v1677872510/K%C3%B8ge%20handel/KgeHandel_kijfmc.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.projects::before {
    width: 335px;
    height: 379px;
    content: '';
    position: absolute;
    background-color: var(--color-text-offset-op);
    display: flex;
}

.project-two {
    width: 335px;
    height: 379px;
    position: relative;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-image: url(/assets/home/golfacross.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

    

.project-two::before {
    width: 335px;
    height: 379px;
    content: '';
    position: absolute;
    background-color: var(--color-text-offset-op);
    display: flex;
}

.project-three {
    width: 335px;
    height: 379px;
    position: relative;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-image: url(/assets/home/lisa.png);
    background-size:cover;
    background-repeat: no-repeat;
}

    

.project-three::before {
    width: 335px;
    height: 379px;
    content: '';
    position: absolute;
    background-color: var(--color-text-offset-op);
    display: flex;
}


.content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 287px;
    height: 332px;
}

.content h4 {
    color: var(--color-bg);
    font-size: 24px;
    font-weight: 400;
}

.content h3 {
    color: var(--color-bg);
    font-size: 36px;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    padding-bottom: 20px;

}

.program {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content p {
    color: var(--color-bg);
    font-size: 20px;
    font-weight: 400;
    }

.card-bottom {
    position: absolute;
    bottom: 0px;
    
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-top: 10px;
}

.links a:nth-of-type(2){
    margin-right: 20px;
}

.links path:hover {
    color: var(--color-secondary);
}

.archived { 
    width: 160px;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: var(--color-bg-offset);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.archived:hover {
    background-color: var(--color-primary);
    color: #ffff;
}

@media (min-width:768px) {
    .project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px;
        justify-content:center;
        gap: 4px;
        width: 100%;
    }
}


/* contact section */
.contact {
    height: 400px;
    background-color: var(--color-bg-offset);
    display: flex;
    padding: 100px 0 100px 0;
    justify-content: center;
}

.available {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.green-light {
    width: 10px;
    height: 10px;
    background-color: #3ba939;
    border-radius: 10px;
    display: flex;
    transform: translate(50%, 50%);
    margin-right: 10px;

}

.contact p {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
}

.contact h2 {
    display: flex;
    font-size: 30px;
  font-family: "DM Serif Display", serif;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.contact a {
    display: flex;
    font-size: 20px;
    justify-content: center;
    border: 1px solid var(--color-text);
    gap: 15px;
    border-radius: 12px;
    margin: 20px 70px;
    padding: 7px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    
}

.contact a:hover, .contact path:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 0;
}

.contact path {
    color: var(--color-text);
    font-size: 16px;
}
